# File to add calibration possibilities, which are also called in the menu config.

# This adds a bed screws adjust GCode, that moves the nozzle around for you so you can paper adjust. Values are for cr10 rn
[bed_screws]
screw1: 40,55
screw1_name: Front Left
screw2: 340,315
screw2_name: Back Right
screw3: 40,315
screw3_name: Back Left
screw4: 340,55
screw4_name: Front Right
screw5: 188,185
screw5_name: Center
horizontal_move_z: 5
probe_height: 0.1
speed: 100
probe_speed: 2.5

# This adds a screw tilt adjust command that probes certain points on the bed and recommends new bed screw positions.
screw1: 89,57
screw1_name: Front Left
screw2: 369,297
screw2_name: Back Right
screw3: 89,297
screw3_name: Back Left
screw4: 369,57
screw4_name: Front Right
horizontal_move_z: 5
speed: 100
screw_thread: CW-M4

[bed_mesh] 
speed: 100
horizontal_move_z: 5
mesh_min: 45,45
mesh_max: 332,325
probe_count: 10,10
fade_start: 1.0
fade_end: 0.0
#fade_target:
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: .2